body{
    font-family: 'Lato', sans-serif;
}
main{
    margin-top: 56px;
}
nav.navbar{
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #434040 100%);
    background: -webkit-linear-gradient(top,  #333333 0%,#434040 100%);
    background: linear-gradient(to bottom,  #333333 0%,#434040 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#434040',GradientType=0 ); /* IE6-9 */
}
nav.navbar h1{
    margin: 0px;
    padding: 0px;
    font-size: initial;
    margin-bottom: 0 !important;
}

nav.navbar .searchForm{
    position: relative;
}
nav.navbar .searchForm input{
    background-color: #1f1f1f;
    border-radius: 0px;
    border: 0px none;
    padding-right: 40px;
    color: #FFFFFF;
    width: 100%;
}
nav.navbar .searchForm button{
    position: absolute;
    right: 10px;
    border: 0px;
    color: #FFFFFF;
    cursor: pointer;
    background: transparent;
}
.slider .slide .slideContent{
    position: relative;
    display: block;
}
.slider .slide .slideContent img{
}
.slider .slide .slideContent .slideContentSlogan {
    position: absolute;
    text-align: center;
    width: 100%;
}
.slider .slide .slideContent .slideContentSlogan img{
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2rem;
}

.sliderArticles .slick-track{
    padding-bottom: 20px;
}
.slideArticle .slideArticleContent{
    position: relative;
    border: 1px solid #9c9aa0;
    -webkit-box-shadow: 10px 20px 0 0 #f7f7f7;
    box-shadow: 10px 20px 0 0 #f7f7f7;
}
.slideArticle .slideArticleContent .slideArticleContentTag{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9999;
    background-color: #221e40;
    color: #FFFFFF;
    padding: 4px 20px;
}
.slideArticle .slideArticleContent img{
    margin-bottom: 15px;
    width: 100%;
}
.slideArticle .slideArticleContent h2{
}
.slideArticle .slideArticleContent p{
}
.slideArticle .slideArticleContent a.linkSlideArticle{
    background: #FFFFFF;
    color: #5b5b5f;
    text-align: center;
    margin: 0 40px;
    display: block;
    padding: 10px 0;
    border: 1px solid #a5a3a8;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.slideArticle .slideArticleContent a.linkSlideArticle:hover{
    background: #5b5b5f;
    color: #FFFFFF;
    text-decoration: none;
}

.slideArticleControls{
}
.slideArticleControls button{
    height: 40px;
    width: 40px;
    border: 1px solid #5b5b5f;
    color: #322b2a;
    background-color: #FFFFFF;
    cursor: pointer;
}
.dots .slick-dots{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 12px;
}
.dots .slick-dots li{
    display: inline-block;
    margin: 0 10px;
    width: 53px;
    height: 12px;
}
.dots .slick-dots li.slick-active button{
    background-color: #434040;
}
.dots .slick-dots li button{
    width: 100%;
    height: 12px;
    overflow: hidden;
    text-indent: -9999em;
    border: 0px none;
    background-color: #d0cfcf;
    cursor: pointer;
}

.form-control{
    border-radius: 0px;
}

.btnSendForm{
    padding: 20px 120px;
    background: #FFFFFF;
    color: #5b5b5f;
    text-align: center;
    margin: 0 40px;
    display: block;
    padding: 20px 120px;
    cursor: pointer;
    border: 1px solid #a5a3a8;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btnSendForm:hover{
    background: #5b5b5f;
    color: #FFFFFF;
    text-decoration: none;
}



.informationListItem .titleBorder{
    background: url(../pics/border.jpg) no-repeat scroll bottom center / contain;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

footer{
    border-top: 1px solid #d9d9d9;
}
footer p{
    margin: 0px;
}
footer ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 12px;
}
footer li{
    display: inline-block;
    margin-right: 8px;
    border-right: 1px solid #000000;
    padding-right: 8px;
}
footer li:last-child{
    border-right: 0px none;
}
footer li a{
    color: #000000;
}
footer li a:hover{
    color: #000000;
}

@media (min-width: 576px) {
}
@media (max-width: 768px) {
    .slideArticleControls{
        display: none !important;
    }
}
@media (max-width: 992px) {
    .dots .slick-dots li{
        width: 33px;
    }
}
@media (min-width: 1200px) {
}
